body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #FFFFFF;
  color: #444444;
  text-align: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a, a:visited {
  color: rgb(100, 100, 100);
  transition: color 1s;
  -webkit-transition: color 1s;
}

a:hover {
  color: rgb(80, 80, 80);
}

.section {
  padding: 20px 0;
  margin: 0 auto;
}

input {
  border: 1px solid rgba(20, 20, 20, 0.1);
  border-radius: 0px;
  padding: 8px 0px;
  text-align: center;
  margin: 12px auto;
  display: block;
  max-width: 300px;
  width: 100%;
}

input.button {
  padding: 12px;
  border: 0px;
}

.white {
  color: rgb(40, 40, 40);
  background-color: rgb(255, 255, 255);
}

.white input.button {
  color: rgb(255, 255, 255);
  background-color: rgb(135, 200, 80);
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}

.white input.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(135, 220, 80);
}

.black {
  color: rgb(255, 255, 255);
  background-color: rgb(135, 200, 80);
}
