body {
  background-color: #131619;
}

h1, h2, h3, h4, h5, h6 {
  color: #bf8736;
  text-transform: uppercase;
  font-family: "futura-pt-condensed",sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 21px;
}

p, li {
  font-size: 16px;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #aeb3b7;
}

a {
  color: #caccce;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
}

a:hover {
  color: #aeb3b7;
}

caption {
  font-size: 10px;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
}

button, .button {
  font-size: 15px;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #caccce;
  border: 1px solid #bf8736;
  background-color: none;
}

/* new styles */

.back, .back:visited {
  background: #2a303a;
  color: #aeb3b7;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
}

.back:hover {
  background: #131619;
}

#sky {
  background-color: #2a303a;
}

#sky img {
  width: 100%;
}
