---
layout: main
title: Home
meta_description: The 2014 Burlington Ruby Conference in Burlington, Vermont on August 1st, 2nd and 3rd.
meta_keywords: burlington, ruby, conference, vermont, rails, ruby on rails
---

<div class="row">
  <div class="column">
    <ul class="inline-list">
      <li><a href="#tickets">Tickets</a></li>
      <li><a href="#proposals">Proposals</a></li>
      <li><a href="#speakers">Speakers</a></li>
      <li><a href="#sponsorship">Sponsorship</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="row" id="header">
  <div class="column">
    <h1>Burlington Ruby Conference</h1>
    <p>August 2nd &amp; 3rd, 2014</p>
    <p>Held on the picturesque Lake Champlain waterfront, Burlington Ruby
    Conference is the event of the summer for Ruby enthusiasts to network,
    learn and relax in the beautiful state of Vermont.</p>
    <p>Burlington Ruby is a single-track conference with a focus on networking
    and community. We limit the size of the conference to 150 attendees to
    provide an experience that is both unique and intimate.</p>
  </div>
</div>

<div id="tickets" class="row section">
  <div class="column">
    <h2>Purchase Tickets</h2>
    <p>A limited number of early bird tickets are now available.</p>
    <a class="button" href="https://ti.to/burlington-ruby/2014-conference">Register Now</a>
  </div>
</div>

<div id="proposals" class="row section">
  <div class="column">
    <h2>Proposals</h2>
    <p>The Call for Proposals is now open. If you are interested in speaking at
      the 2014 Burlington Ruby Conference, apply at the CFP website. The CFP
      closes at 11:59pm EST on March 17th, 2014.</p>
    <a class="button"
      href="http://cfp.burlingtonrubyconference.com/">Submit Your Talk Now</a>
  </div>
</div>

<div id="speakers" class="row section">
  <div class="column">
    <h2>Speakers</h2>

    <ul class="small-block-grid-3">
      {% for speaker in site.categories.speaker %}
        <li>
          <a href="{{ speaker.url }}"><img src="/images/speakers/{{ speaker.photo }}" alt="{{ speaker.title }}" class="speaker"></a>
          <small>{{ speaker.title }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="sponsorship" class="row section">
  <div class="column">
    <h2>Sponsors</h2>

    <ul class="small-block-grid-1">
      {% for sponsor in site.categories.stargazer-sponsor %}
        <li>
          <a href="{{ sponsor.website }}" target="_blank"><img src="/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.title }}" class="sponsor"></a>
          <br><small>{{ sponsor.title }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row section">
  <div class="column">
    <h2>Sponsorship Opportunities</h2>

    <p>Interested in sponsoring the 2014 Burlington Ruby Conference? We have two great sponsorship opportunities to offer this year.
    Learn more by clicking below or feel free to shoot us an email at <a href="mailto:info@burlingtonrubyconference.com">info@burlingtonrubyconference.com</a>.</p>
    <a class="button"
      href="/sponsorship.html">View Sponsorship Opportunites</a>
  </div>
</div>

<div id="contact" class="row section">
  <div class="column">
    <h2>How to Reach us</h2>
    <p>If you have any questions about the event please email us at
    <a href="mailto:info@burlingtonrubyconference.com">info@burlingtonrubyconference.com</a>.
    You can also <a href="https://twitter.com/btvrubyconf" target="_blank">follow us on
    Twitter</a> and <a href="http://lanyrd.com/2014/btvruby/"
    target="_blank">track the event on Lanyrd</a>.</p>
  </div>
</div>

<div class="row section">
  <div class="column">
    <h2>Diversity Statement &amp; Code of Conduct</h2>
    <p>Be sure to read our <a href="diversity.html">diversity statement</a> and <a href="conduct.html">code of conduct</a>.</p>
  </div>
</div>
