<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" type="image/ico" href="favicon.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <meta name="description" content="{{ page.meta_description }}">
  <meta name="keywords" content="{{ page.meta_keywords }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
    Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38878382-3', 'burlingtonrubyconference.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  {{ content }}

  <div id="diversity_and_code_of_contact" class="section row">
    <div class="large devider"></div>
    <div class="ten columns centered">
      <h4>Diversity Statement &amp; Code of Conduct</h4>
      <p>Be sure to read our <a href="diversity.html">diversity statement</a> and <a href="conduct.html">code of conduct</a>.</p>
    </div>
  </div>
  <div id="footer" class="section row">
    <div class="large devider"></div>
    <div class="ten columns centered">
      <p>Presented by <a href="https://twitter.com/beerlington" title="Peter
        Brown on Twitter">Peter Brown</a> &amp; <a
        href="https://twitter.com/brettchalupa" title="Brett Chalupa on
        Twitter">Brett Chalupa</a>
      </p>
    </div>
  </div>
</body>
</html>
