---
layout: main
meta_description: The 2014 Burlington Ruby Conference in Burlington, Vermont on August 1st, 2nd and 3rd.
meta_keywords: burlington, ruby, conference, vermont, rails, ruby on rails
---

<a href="/" class="back">
  &#171; Back Home
</a>

<div class="row">
  <div class="columns">
    <div class="speaker-header clearfix">
      <img src="/images/speakers/{{ page.photo }}" alt="{{ page.title }}">
      <h2>{{ page.title }}</h2>
    </div>

    <div class="speaker-body">{{ page.content | markdownify }}</div>
    <div class="speaker-links">
      {% if page.twitter %}
        <a href="https://twitter.com/{{ page.twitter }}"><i class="fi-social-twitter"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="https://github.com/{{ page.github }}"><i class="fi-social-github"></i></a>
      {% endif %}
    </div>
  </div>
</div>
