---
layout: main
meta_description: The 2014 Burlington Ruby Conference in Burlington, Vermont on August 1st, 2nd and 3rd.
meta_keywords: burlington, ruby, conference, vermont, rails, ruby on rails
---

<a href="/" class="back">
  &#171; Back Home
</a>

<div class="row">
  <div class="small-12 medium-6 columns">
    <div class="speaker-header clearfix">
      <img src="/images/speakers/{{ page.photo }}" alt="{{ page.title }}">
      <h2>{{ page.title }}</h2>
    </div>

    <div class="speaker-body">{{ page.content | markdownify }}</div>
  </div>
</div>
